out/*
gen/*
.idea/*
build/*
*.iml
.gradle
/local.properties
/.idea/caches
.target/*
/target/*
/.idea/libraries
/.idea/modules.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build

